html{
    font-size: 17px;
    font-family: 'Ubuntu Mono', monospace;
    background-color: #6E8894;
}
body {
    color:#19323C;
    background-color:#f3f7f0;
    width: 1000px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    border: 6px solid #511C29;
}
h1{color:#511C29;}
h2{color:#511C29;}
h3{color:#511C29;}
a{color:#CF5C36;}
li{color:#568259;}

:not(pre)>code[class*=language-], pre[class*=language-] {
    background-color: transparent;
}

.wrapper {
    width: 100%;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}